a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  color: #444 !important;
}

ul li {
  list-style-type: none !important;
}

.header-blue {
  color: black;
  padding: 10px;
}

.navbar-expand-lg .navbar-nav a.nav-link {
  color: black;
}
.navbar-expand-lg .navbar-nav a.nav-link .navbar-expand-lg .navbar-nav a.nav-link:hover {
  border-bottom: 1px solid black;
  transition: all 0.5s ease-in-out;
}

.header-blue .navbar-toggler-icon {
  color: black;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  color: #444 !important;
}

ul li {
  list-style-type: none !important;
}

.header-section-home {
  padding: 100px 0;
}
.header-section-home .header-section-home img {
  width: 100%;
  height: 350px;
}

.better-list-game {
  display: flex;
  flex-direction: row;
}
.better-list-game .better-game {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0.5rem 1rem;
  padding: 5px;
}
.better-list-game .better-game .better-game img {
  width: 100%;
  height: 100px;
}

.header-section-home {
  padding: 100px 0;
}
.header-section-home .header-section-home img {
  width: 100%;
  height: 350px;
}

.better-list-game {
  display: flex;
  flex-direction: row;
}
.better-list-game .better-game {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0.5rem 1rem;
  padding: 5px;
}
.better-list-game .better-game .better-game img {
  width: 100%;
  height: 100px;
}

.txt-header-home {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.txt-header-home h2 {
  color: #222;
  margin: 10px auto;
}
.txt-header-home hr {
  width: 200px;
  margin: 0 auto;
}

.top-game-section {
  padding: 100px 0;
}
.top-game-section .top-Game {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 10px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top-game-section .top-Game img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}
.top-game-section .btn-top-game {
  margin-top: 1.5rem;
}

.asked-question-section {
  padding: 100px 0;
}
.asked-question-section .box-asked {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 10px 15px;
  margin: 1rem auto;
}

.top-news-section {
  padding: 100px 0;
}
.top-news-section .box-top-news {
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin: 1rem 0.5rem;
}
.top-news-section .box-top-news img {
  width: 150px;
  height: 150px;
  border-radius: 7px;
}
.top-news-section .box-top-news .box-top {
  margin: 5px 10px;
  height: 100px;
  overflow: hidden;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  color: #444 !important;
}

ul li {
  list-style-type: none !important;
}

.support-form {
  padding: 100px 0;
}
.support-form input {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 7px;
}
.support-form textarea {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 7px;
}
.support-form img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.login-blue .modal-body form {
  display: flex;
  flex-direction: column;
}

.login-blue .modal-body form input {
  margin: 10px 0;
  padding: 7px;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.header-modal {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.footer-blue {
  background-color: #9a9a9a;
  padding: 50px 0;
}

/*# sourceMappingURL=main.css.map */
